body {
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Navigation bar */
nav {
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00bfff;
}

/* Playlist title */
.navbar h1 {
    color: #00bfff;
    margin-bottom: 20px;
    text-align: center;
}

/* Controls layout */
.controls {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}

/* Buttons */
.control-btn {
    background-color: brown;
    border-radius: 15px;
    font-size: 20px;
    padding: 8px 12px;
    border: 1px solid #000;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background 0.3s;
}

.control-btn:hover {
    background-color: #a0522d;
}

/* Play button special round style */
.play-btn {
    border-radius: 50%;
    margin-right: 80px;
}

/* Progress bar */
input[type="range"] {
    width: 200px;
    accent-color: #00bfff;
    /* modern browsers */
}
split-container {
    display: flex;
    height: 100vh;
}

split-left,
.split-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
}

split-left {
    background-color: #3b3a41;
    color: white;
}

split-right {
    background-color: #f6f7fa;
}
.container {
    display: flex;
    /* Side-by-side layout */
    height: 122vh;
    /* Full viewport height */
}

/* Left navigation bar */
.sidebar {
    width: 220px;
    background-color: #111;
    padding: 20px;
    color: white;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f1f1f1;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Right content area */
.content {
    flex: 1;
    /* Take remaining space */
    background-color: #f9f9f9;
    padding: 20px;
}
video{
    margin-left: 200px;
}